{% extends "supuser/supbase.html" %}
 {% load static %}

{% block content %}

<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="index.html">
            <h1 class="tm-site-title mb-0"> Admin Panel</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'supuser' %}">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
  
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-file-alt"></i>
                        <span>
                            Reports <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Daily Report</a>
                        <a class="dropdown-item" href="#">Weekly Report</a>
                        <a class="dropdown-item" href="#">Yearly Report</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productmanage' %}">
                        <i class="fas fa-shopping-cart"></i>
                        Products
                    </a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'manage' %}">
                        <i class="far fa-user"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'categorymanage' %}">
                      <i class="far fa-user"></i>
                      Category
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Variationmanage' %}">
                        <i class="far fa-user"></i>
                        Variation Manage
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        <span>
                            Settings <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Billing</a>
                        <a class="dropdown-item" href="#">Customize</a>
                    </div>
                </li> -->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-block" href="{% url 'signout' %}">
                        Admin, <b>Logout</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  
  </nav>

  <div class="container">
    <h2>Variation Details</h2>
    {% if variations %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Value</th>
          <th>Active</th>
          <th>Created</th>
          <th><a href = "{% url 'add_variation' %}" class ="btn btn-primary btn-sm">Add Product</a></th>
        </tr>
      </thead>
      <tbody>
      {% for variation in variations %}
        <tr>
          <td>{{ variation.product.product_name }}</td>
          <td>{{ variation.variation_category }}</td>
          <td>{{ variation.variation_value }}</td>
          <td>{{ variation.is_active }}</td>
          <td>{{ variation.created_date }}</td>
          <td>
              <a href = "{% url 'edit_variation'  variation.id %}" class ="btn btn-warning btn-sm my-2 ">Edit</a>
              <form action="{% url 'delete_variation' variation.id %}" method="post" class="d-inline">{% csrf_token %}
                  <input type="submit" class="btn btn-danger btn-sm" value="Delete" onclick="return confirm('Are you sure you want to delete?')">
              </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
     </table>
     {% else %}
     <div>
      <a href = "{% url 'add_variation' %}" class ="btn btn-primary btn-sm">Add Product</a></th>
    </div>
     <h3 class="text-center alert alert-warning ">No Records Found</h3>
    {% endif %}
  </div>
  
{% endblock  %}